<section id="login">
    <form>
        <div *ngIf="invalidInput">
            Invalid credentials.
        </div>
        <input 
            [(ngModel)]="inputEmail" name="email"
            type="email" placeholder="email address">
        <input 
            [(ngModel)]="inputPassword" name="password"
            type="password" placeholder="password">
        <button
            [disabled]="!(inputEmail && inputPassword)"
            (click)="submit()"
        >Submit</button>
    </form>
</section>